body
{
	margin: 0px;
	background: #A9A9A9;
}

nav
{
	background: #696969;
	height: 50px;
}

footer
{
	background: #A9A9A9;
	height: 100px;
}

a 
{
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 10px;
	font-family: sans-serif;
	font-weight: lighter;
}

a::after
{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: white;
	transition: width .7s;
}

a:hover::after
{
	width: 100%;
}


li
{
	display: inline-block;
	font-size: 25px;
	position: relative;
	text-align: center;
	font-size: 25px;
}

div
{
	font-family: Avantgarde, sans-serif;
}

header
{
	font-size: 25px;
}

h2
{
	color: white;
}
 


.ot
{
	margin-left: 500px;
	margin-bottom:30px;
}

.ots
{
	margin-left: 200px;
}

.ot1
{
	margin-left: 300px;
}

.picture
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	max-width : 1140px;
	margin: 0 auto;
	padding: 100px;
}


.grid1
{
	width: 30%;	
	margin: 15px 0;
	padding: 0 15px;
}

.grid2
{
	position:relative;
	display: flex;
	cursor: pointer;
}

.grid2:before
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	opacity: 0;
	transition: all .4s ease;
	content: ' ';
}

.grid2:hover:before
{
	opacity: 1;
}

.picture1
{
	width: 100%;
	height: 100%;
	object-fit: cover;	
}
 
 .grid3
 {
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-size: 20px;
	color: white;
	overflow: hidden;
 }
 
 .grid3 > span
 {
	display: block;
	transform: translateY(55px);
	transition: all .4s ease;
 }
 
 .grid2:hover .grid3 > span
 {
	transform: translateY(0);
 }
 

